.jogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.portas {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.botoes {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.botoes button {
    background-color: #c0392c;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
}